img {
  width: 28%;
}

/* begin main designs */
.main1 {
  color: #E984E9;
}

.main2 {
  color: #FAC220;
}

.main3 {
  color: #86FA63;
}

.main4 {
  color: #59EADF;
}

/* end main designs */
/* media queries */
@media only screen and (max-width: 600px) {
  img {
  width: 90%;
  }
}
/* end medis queries */
/* begin form design */
form {
  color: #E3E1DD;
}

.formboxes {
  padding-left: 4px;
  padding-right: 45px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.submitbutton {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* end form design */
/*begin nav bar*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DBDADA;
  position: fixed;
  top: 0;
  width: 100%;
}

nav li {
  float: left;
  list-style-type: inherit;
}

nav li a {
  display: block;
  color: #686661;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courgette', cursive;
  font-size: 15px;
}

nav li a:hover:not(.active1):not(.active2):not(.active3):not(.active4) {
  background-color: #BBBABA;
}

.active1 {
  background-color: #E984E9;
}

.active2 {
  background-color: #FAC220;
}

.active3 {
  background-color: #86FA63;
}

.active4 {
  background-color: #59EADF;
}

/*end nav bar*/
/* scrern reader only */
.hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* end screen reader only */
.mainpage {
  align-items: center;
}

.title {
  border: double;
  border-color: #FAC220;
}

img {
  border: 2px solid;
  border-color: #FAC220;
}

/* begin body designs */
body {
  background-color: #33353A;
}

.body1 {
  background-image: url(mountain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 100px;
  width: 100%;
}

.body2 {
  background-image: linear-gradient(#33353A, black), url(river.jpg);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  width: 98vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 1fr 50px;
}

.body3 {
  background-image: url(horizon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  width: 95vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 1fr 50px;
}

.body4 {
  background-image: url(sunset.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px 1fr 50px;
}

/*end body designs */
input {
  background-color: #59EADF;
  width: 10%;
  border: solid;
  border-color: #031024;
  border-width: 2px;
  margin: 5px;
}

h1 {
  font-family: 'Lexend Zetta', sans-serif;
  font-size: 30px;
  text-shadow: 4px 4px 1px #000000;
  position: relative;
  margin-top: 60px;
}

.huge {
  font-size: 75px;
  letter-spacing: 4px;
}

h2 {
  font-size: 25px;
  color: #E3E1DD;
}

h3 {
  font-family: 'Amaranth', sans-serif;
  font-size: 18px;
  color: #E3E1DD;
}

p {
  font-family: 'Amaranth', sans-serif;
  color: #E3E1DD;
}

.aboutparagraph {
  border-style: double;
  border-color: #86FA63;
  padding: 7px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-spacing: 5px 5px;
}

footer {
  vertical-align: text-bottom;
  font-family: 'Amaranth', sans-serif;
  color: #E3E1DD;
  text-align: center;
}

.bottom {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.indexhr {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  margin-bottom: 1%;
}

.abouthr {
  margin-left: auto;
  margin-right: auto;
  margin-top: 32%;
  margin-bottom: 1%;
}

.contacthr {
  margin-left: auto;
  margin-right: auto;
  margin-top: 28%;
  margin-bottom: 1%;
}

/* begin link designs */
a {
  color: #78C8FB;
  text-decoration: none;
}

.email1:hover {
  color: #E984E9;
  text-decoration: underline;
}

.email2:hover {
  color: #FAC220;
  text-decoration: underline;
}

.email3:hover {
  color: #86FA63;
  text-decoration: underline;
}

.email4:hover {
  color: #59EADF;
  text-decoration: underline;
}

.indexborder {
  color: #E984E9;
  border-style: solid;
  border-color: #E984E9;
  padding: 7px;
  text-decoration: none;
}

.indexborder:hover {
  background-color: #E984E9;
  color: #E3E1DD;
  text-decoration: none;
}

/*end link designs */
